/*
 * Globals
 */

p{font-size: 16px;}


/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #111;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
    cursor: url('image/80021.png')20 32, auto;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /* -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.cover-container
{
width: 1280px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.cover-heading
{
  margin-top: 150px;
}
@media only screen and (max-width: 600px) {
  .cover-heading{margin-top: 40px;}
}
/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */


@media (min-width: 600px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 80%;
  }
}


@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 80%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 1280px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 80%;
  }
}



.tooltips {
    position: relative;
    display: inline-block;
}

.tooltips .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltips .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltips:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.fireplace
{
		background-position: bottom right;
	  background-image:url("https://thumbs.gfycat.com/MindlessEvilElephant-size_restricted.gif");
  background-repeat: no-repeat;
  opacity: 1 !important;
  background-attachment: fixed;
}

#splash
{

}
.splash{
	position: absolute;
	text-align: center;
    width: 100%;
    top: 50%;
    left: 0%;
	z-index: 999;
}

.fade-out {
  animation: fadeOut ease-in-out 4s;
  -webkit-animation: fadeOut ease-in-out 4s;
  -moz-animation: fadeOut ease-in-out 4s;
  -o-animation: fadeOut ease-in-out 4s;
  -ms-animation: fadeOut ease-in-out 4s;
  opacity: 0;
}

@keyframes fadeOut {
  0% {opacity:1;}
  50% {opacity:0.8;}
  80% {opacity:0.5;}
  90% {opacity:0.3;}
  100% {opacity:0; display:none}
}

@-moz-keyframes fadeOut {
  0% {opacity:1;}
  50% {opacity:0.8;}
  80% {opacity:0.5;}
  90% {opacity:0.3;}
  100% {opacity:0; display:none}
}

@-webkit-keyframes fadeOut {
  0% {opacity:1;}
  50% {opacity:0.8;}
  80% {opacity:0.5;}
  90% {opacity:0.3;}
  100% {opacity:0; display:none}
}

@-o-keyframes fadeOut {
  0% {opacity:1;}
  50% {opacity:0.8;}
  80% {opacity:0.5;}
  90% {opacity:0.3;}
  100% {opacity:0; display:none}
}

@-ms-keyframes fadeOut {
  0% {opacity:1;}
  50% {opacity:0.8;}
  80% {opacity:0.5;}
  90% {opacity:0.3;}
  100% {opacity:0; display:none}
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  70% {opacity:0.3;}
  80% {opacity:0.5;}
  90% {opacity:0.8;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  70% {opacity:0.3;}
  80% {opacity:0.5;}
  90% {opacity:0.8;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  70% {opacity:0.3;}
  80% {opacity:0.5;}
  90% {opacity:0.8;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  70% {opacity:0.3;}
  80% {opacity:0.5;}
  90% {opacity:0.8;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  70% {opacity:0.3;}
  80% {opacity:0.5;}
  90% {opacity:0.8;}
  100% {opacity:1;}
}

.nobox
{
border: none;
background-color: transparent;
}

.bigbutton
{

  margin:0;
  margin-left: 0px;
    margin-right: 10px;
  padding:0;
  margin-bottom: 10px;
  border-radius: 27px;
  border: 0;
  border-left: 2px solid #777777;
  border-top: 2px solid #777777;
  width: 100%;
  min-height: 250px;
  border-radius:5px;
  opacity: 0.9;
	
}

.auckland-bg
{
  background: url(image/Screenshot_24.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.mg-bg
{
  background: url(image/Screenshot_25.png);
    background-position: top ;
}

.darkman-bg
{
  background: url(image/background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.hats-bg
{
    background: url(image/Screenshot_26.png);
}

.mask
{
    padding:25px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(25,25,25,0.8);
    border-radius: 5px;
	height: 100%;
	    transition: 0.3s;
}

.mask:hover
{
    background-color: rgba(25,25,25,0.3);
}

.btn-default:hover
{
  background-color: #999;
  border: 1px solid #999;
}

.grey
{
  color: #aaa;
}

.lgrey
{
  color: rgb(255,0,0);
    text-shadow: 2px 2px 4px #000000;
	font-size: 25px;
	font-weight: bold;
}

.marginbot{margin-bottom: 280px;}


.description-box{
  padding:25px;
  margin-top: 25px;
  font-size: 20px;
}


.appfeaturespacing
{
  margin-top: 40px;
}

li{font-size: 15px; text-align: left;}

.hh
{
text-align: left;
}

.darkhang
{
  background-image: url(image/background.jpg);
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
    .marginbot {
        margin-bottom: 50px;
    }

    .appfeaturespacing
    {
      margin-top: 0px;
    }

    .darkhang
    {
        background-position: -700px -250px;
    }

    .cover-container
    {padding: 10px;}

    .btn-default
    {margin: 4px;}
}

